.seat {
  border: 5px solid #1bc47d;
  width: 45px;
  height: 45px;
  margin: 16px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.selectedSeat {
  background-color: #1bc47d;
  border: 5px solid #1bc47d;
  width: 45px;
  height: 45px;
  margin: 16px;
  position: relative;
  vertical-align: top;
  color: white;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}